[Unit]
Description=pg_dump backup of {{ postgres_db_name }}
After=postgresql.service
Requires=postgresql.service

[Service]
Type=oneshot
User=postgres
Group=postgres
SyslogIdentifier={{ postgres_db_log_tag }}
{% if postgres_db_remote_backup_enabled %}
EnvironmentFile=/etc/postgres-backup/remote.env
Environment=RESTIC_REPOSITORY=s3:{{ postgres_db_remote_backup_endpoint }}/{{ postgres_db_remote_backup_bucket }}/{{ postgres_db_name }}
ExecStartPre=/bin/sh -c '/usr/bin/restic cat config >/dev/null 2>&1 || /usr/bin/restic init'
{% endif %}
ExecStart=/bin/sh -c 'DUMP="{{ postgres_db_backup_dir }}/{{ postgres_db_name }}-$(date -u +%%Y%%m%%dT%%H%%M%%SZ).dump"; /usr/bin/pg_dump -F c -f "$DUMP" {{ postgres_db_name }} && printf %s "$DUMP" > {{ postgres_db_backup_dir }}/.{{ postgres_db_name }}-latest'
{% if postgres_db_remote_backup_enabled %}
ExecStartPost=/bin/sh -c '/usr/bin/restic backup "$(cat {{ postgres_db_backup_dir }}/.{{ postgres_db_name }}-latest)"'
ExecStartPost=/usr/bin/restic forget --keep-daily {{ postgres_db_remote_backup_keep_daily }} --keep-weekly {{ postgres_db_remote_backup_keep_weekly }} --keep-monthly {{ postgres_db_remote_backup_keep_monthly }} --prune
{% endif %}
ExecStopPost=/usr/bin/find {{ postgres_db_backup_dir }} -name '{{ postgres_db_name }}-*.dump' -mtime +{{ postgres_db_backup_retention_days }} -delete
